@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 222.2 84% 4.9%;
    --card: 60 56% 91%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 348 83% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 20% 80%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 20% 80%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 48 95.5% 12.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 348 83% 47%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 348 83% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 51 100% 50%;
    --accent-foreground: 48 95.5% 12.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 348 83% 47%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Selecciona el botón de cierre por su clase y la posición absoluta */
div[role="dialog"] button.absolute {
  display: none !important;
}


/* Footer y posible implementación futura en más secciones*/
@keyframes typeLoop {
  0%, 10%  { width: 0 }
  50%      { width: 100% } /* terminado de escribir */
  60%      { width: 100% } /* pequeña pausa visible */
  100%     { width: 0 }    /* borrar */
}

@keyframes blink { 50% { border-color: transparent } }

/* Respeto de accesibilidad: si el usuario reduce animaciones, mostramos estático */
@media (prefers-reduced-motion: reduce) {
  [class*="typeLoop"] {
    animation: none !important;
    width: auto !important;
    border-right: 0 !important;
  }
}