@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%; /* ededed */
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 93%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 93%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 356 86% 45%; /* d91118 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 0% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 356 86% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 88%;
    --ring: 356 86% 45%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 356 86% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 356 86% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 356 86% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/FondoAnimadoWebSerpa.jpg") #ededed;
    background-repeat: repeat;
    background-position: 0 0;
    animation: scroll 100s linear infinite;
    z-index: -1;
  }
  
  
  @keyframes scroll {
    100% {
      background-position: 0px -4000px;
    }
  }
  
}

@media (prefers-reduced-motion) {
  body::before {
    animation: scroll 800s linear infinite;
  }
}

/* Selecciona el botón de cierre por su clase y la posición absoluta */
div[role="dialog"] button.absolute {
  display: none !important;
}


/* Footer y posible implementación futura en más secciones*/
@keyframes typeLoop {
  0%, 10%  { width: 0 }
  50%      { width: 100% } /* terminado de escribir */
  70%      { width: 100% } /* pequeña pausa visible */
  100%     { width: 0 }    /* borrar */
}

@keyframes blink { 50% { border-color: transparent } }

/* Respeto de accesibilidad: si el usuario reduce animaciones, mostramos estático */
@media (prefers-reduced-motion: reduce) {
  [class*="typeLoop"] {
    animation: none !important;
    width: auto !important;
    border-right: 0 !important;
  }
}
